<div class="booyah-box">
  <div class='row'>
    <div class='col-4'>
      <%= image_tag 'user.png' %>
    </div>

    <div class='col-8'> 
      <h1 class="user_show_text">The show page for users works</h1>
      <h1 class="user_show_text"><%= @user.email %></h1>
      <h3 class="user_show_text">Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h3 class="user_show_text"><%= @user.comments.count %> total comments</h3>
      <h3 class="user_show_text"><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h3>
    </div>  
  </div>
</div> 